.h1 {
  font-family: "myfont";
  background: #3462ad;
  color: #fbd500;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.form {
  background-image: url(../Images/form.JPG);
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 35%;
}
.buttonBack {
  width: 150px;
  height: 35px;
  margin-top: 20px;
  font-family: "myfont";
  color: white;
  padding-right: 10px;
  border-radius: 4px;
  background: #3462ad;
  justify-self: center;
  cursor: pointer;
}

.label {
  margin-left: 8px;
  font-size: 14px;
  color: #3462ad;
  display: block;
  width: 100%;
  font-family: "myfont";
}

.input {
  margin-bottom: 5px;
  width: 75%;
  padding: 2px;
  border-radius: 3px;
  border: 2px solid #3462ad;
  cursor: pointer;
}
.button {
  width: 150px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "myfont";
  color: white;
  padding-right: 10px;
  border-radius: 4px;
  background: linear-gradient(to left, #3462ad, #fea500);
  justify-self: center;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.04);
  background: linear-gradient(to right, #3462ad, #fea500);
}
.select {
  background-color: #3462ad;
  color: white;
  padding: 4px;
  width: 180px;
  border-radius: 4px;
  font-size: 12px;
  font-family: "myfont";
  cursor: pointer;
}

.error {
  font-family: "myfont";
  font-size: 11px;
  color: red;
  font-weight: bold;
}
.div {
  margin-top: 10px;
}
.spanType {
  font-family: "myfont";
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}
.buttonType {
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.message {
  font-family: "myfont";
  font-size: 11px;
  color: #3462ad;
  font-weight: bold;
  bottom: 10px;
}
/* AlertStyles */

.swal {
  background-color: #f5f5f5;
  width: 30%;
  color: #333333;
  border: 2px solid #cccccc;
}

.swal title {
  font-family: "myfont";
  font-size: 9px;
  margin-bottom: 10px;
}
.swal text {
  font-family: "myfont";
  font-size: 9px;
  margin-bottom: 10px;
}

.swal img {
  width: 180px;
  height: 150px;
}

.swal button {
  background-color: #3462ad;
  color: #ffffff;
  border: none;
  font-family: "myfont";
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .form {
    width: 90%;
  }

  .buttonBack {
    width: 130px;
  }

  .input {
    width: 80%;
  }

  .button {
    width: 120px;
  }

  .select {
    width: 50%;
  }

  .swal {
    width: 78%;
    margin-left: 3px;
  }
}
