.div {
  display: flex;
  align-items: center;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  font-family: "myfont";
}

.button {
  padding: 8px 16px;
  background-color: #2a6eb4;
  color: #fff;
  font-family: "myfont";
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.04);
}

/* AlertStyles */

.swal {
  background-color: #f5f5f5;
  width: 30%;
  color: #333333;
  border: 2px solid #cccccc;
}

.swal title {
  font-family: "myfont";
  font-size: 9px;
  margin-bottom: 10px;
}
.swal text {
  font-family: "myfont";
  font-size: 9px;
  margin-bottom: 10px;
}

.swal img {
  width: 180px;
  height: 150px;
}

.swal button {
  background-color: #3462ad;
  color: #ffffff;
  border: none;
  font-family: "myfont";
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .swal {
    width: 70%;
    margin-right: 70px;
  }
}
