.div {
  background-image: url("../Images/pokemon1.jpg");
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.h1 {
  background-image: linear-gradient(
    65deg,
    #ebeae4 0%,
    #ee4035 29%,
    #ee4035 67%,
    #ee4035 100%
  );
  margin: 0;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  font-size: 40px;
  font-family: "myfont";
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.button {
  width: 120px;
  margin-top: 40px;
  padding: 8px 16px;
  background-color: #ee4035;
  color: #fff;
  font-family: "myfont";
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  animation: moveButton 3s infinite;
}
.button:hover {
  transform: scale(1.04);
}
@keyframes moveButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.img {
  margin-top: 30px;
  animation: moveimage 3s infinite;
}
@keyframes moveimage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .div {
    background-position: 82% center;
  }
  .h1 {
    font-size: 28px;
  }

  .button {
    font-size: 15px;
    padding: 15px;
    margin-top: 150px;
  }
  .img {
    width: 150px;
    margin-top: 120px;
  }
}
